a, a:visited { color: black; }
a:hover   { color: black; text-decoration: underline; }

body {
  font-family: 'Cabin', sans-serif;
  background-color: #aaa;
}

header nav.navbar {
  margin-bottom: 0;
}

#main {
  background-color: white;
  padding:20px 10px;
}

#sitename {
  font-size: 150%;
  font-weight: bold;
}

article header {
  border-bottom: black solid 2px;
  height:75px;
}

article header h1 {
  font-size: 150%;  
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}

article header > div {
  display: inline-block;
  vertical-align: middle;
}

article header #date {
  margin-right: 25px;
}

article header #title {
    line-height: 75px;
}

article header > div span {
  display: block;
  text-align: center;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

header nav .container div {
  color: #aaa;
}

header nav .container div a {
  color: #aaa;
}

footer {
  color: white;
  background-color: black;
  overflow: hidden;
  min-height: 2em;
}

footer a, footer a:visited, footer a:hover {
  color: white;
}

.post {
  margin-top: 5px;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
