---
layout: default
title: Mindless Rambling Nonsense
header_class: hero
---
<script type="application/ld+json">
{ "@context": "http://schema.org", 
 "@type": "Blog",
 "keywords": "software engineering agile refactoring c# ruby javascript", 
 "url": "https://pauldambra.github.io",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://pauldambra.github.io"
  },
 "author": {
    "@type": "Person",
    "name": "Paul D'Ambra",
    "sameAs": [
        "https://twitter.com/pauldambra",
        "https://github.com/pauldambra",
        "https://plus.google.com/u/0/+PaulDAmbraPlus"
    ]
  }
 }
</script>

  {% assign items = "" %}
  {% for post in site.posts %}
    {% capture list_item %}
        {% 
            include blogListItem.html 
            index=forloop.index
            url=post.url
            title=post.title
            date=post.date
        %}
    {% endcapture %}
    {% assign items = items | append: list_item | append: "|||" %}
  {% endfor %}
    
  {% assign items = items | split: "|||" | join: ',' %}
  
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ItemList",
  "itemListElement": [
  {{ items }}
  ]
}
</script>

{% for post in site.posts %}
    <div class="post-item">
        <div class="excerpt">
            <a href="{{ post.url }}">
                <h1>{{ post.title }}</h1>
            </a>
            {{ post.excerpt }}
        </div>
        <div class="metadata">
            <div class="post-metadata">
                posted on: {{ post.date | date_to_string }}
            </div>
            <div class="post-metadata post-category">
                <a href="/categories.html#{{ post.category }}">in: {{ post.category }}</a>
                <div class="tags">
                    {% include tags.html tags=post.tags %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}