---
layout: default
title: Mindless Rambling Nonsense
paginate: 
    collection: weeknotes
    reversed: true
    limit: false
---
<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Blog",
 "keywords": "software engineering agile refactoring c# ruby javascript",
 "url": "https://pauldambra.github.io",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://pauldambra.github.io"
  },
 "author": {
    "@type": "Person",
    "name": "Paul D'Ambra",
    "sameAs": [
        "https://twitter.com/pauldambra",
        "https://github.com/pauldambra",
        "https://plus.google.com/u/0/+PaulDAmbraPlus"
    ]
  }
 }
</script>

{% for weeknote in paginator.weeknotes %}
    <div class="post-item paged-weeknotes">
        <div class="excerpt">
            <a href="{{ weeknote.url }}">
                {{ weeknote.excerpt }}
            </a>
        </div>
        <div class="metadata">
            <div class="post-metadata">
                posted on: {{ weeknote.date | date_to_string }}
            </div>
        </div>
    </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <strong>{{ page }}</strong>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
{% endif %}
