<header class="{{ page.header_class }}">
	<div class="title">
		<a href="/">Mindless Rambling Nonsense</a>
	</div>
	<div class="name">
		<div class="row">
			<div>Paul D'ambra</div>
				<a href="https://github.com/pauldambra">
					<img src="/images/GitHub-Mark-Light-32px.png" alt="pauldambra on github">
				</a>
		</div>
		<div class="row">
			<div>Fangler</div>
				<a href="https://twitter.com/pauldambra">
					<img src="/images/twitter-32.png" alt="pauldambra on twitter">
				</a>
		</div>
	</div>
</header>