{% assign header_class = '' %}
{% if page.url == "/" or page.url == "" %}
	{% assign header_class = 'home' %}
{% endif %}

<header class="{{ header_class }}">
	<div class="title">
		<a href="/">Mindless Rambling Nonsense</a>
	</div>
	<div class="name">
		<p>
			Paul D'ambra<br />
			Fangler<br />
		</p>
	</div>
	<div class="externals">
		<p>
			<a href="https://github.com/pauldambra">github.com/pauldambra</a><br />
			<a href="https://twitter.com/pauldambra">twitter.com/pauldambra</a><br />
		</p>
	</div>
</header>