<header>
	<div class="heading">
		<div class="date">
			{{ page.date | date: "%a %b %d %Y" }}
		</div>
		<h1 class="title">{{ page.title }}</h1>
	</div>
	<div class="meta">
		<div class="share-this">
			<a id="facebook-share-link" 
			   class="social-share" 
			   target="_blank"
			   href="https://www.facebook.com/dialog/share?app_id=305449093152216&href={{site.url}}{{page.url}}">
				<img src="/images/facebook-black-32.png" alt="share on facebook">
			</a>
			<a id="twitter-share-link"
			   class="social-share" 
			   target="_blank"
			   href="https://twitter.com/intent/tweet?text={{page.title | cgi_escape}}&via=pauldambra&url={{site.url}}{{page.url}}">
				<img src="/images/twitter-black-32.png" alt="share on twitter">
			</a>
		</div>
		<div class="more-like-this">
			<a class="post-metadata post-category"
				href="/categories.html#{{ page.category | slugify }}">
				in: {{ page.category }}
			</a>
			<div>
				{% include tags.html tags=page.tags %}
			</div>
		</div>
	</div>
</header>