<meta property="og:url"          content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="{{ page.title }}" />
<meta property="og:description"  content="{{ page.description | default: 'a blog about software engineering' }}" />
<meta property="og:image"        content="{{ site.url }}{{page.card_image}}" />
<meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:creator" content="@pauldambra" />
<meta property="fb:app_id"       content="{{ site.facebook_id }}" />
