---
---

@font-face {
  font-family: 'Khula';
  src: url('/assets/khula/Khula-Regular.ttf'),
       url('/assets/khula/Khula-Bold.ttf'),
       url('/assets/khula/Khula-ExtraBold.ttf');
}
html {
  height: 100%;
}
body {
  min-height:100%;
  font-family: 'Khula', sans-serif;
  font-size: 2em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  background-color: white;
  padding: 20px 10px;
    /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
  .post-metadata {
    font-size: 15px;
  }
  &.tag-list {
    font-size: 16px;
  }
}
hr {
  clear: both;
}
a, a:visited {
  color: black;
  &:hover {
    color:black;
    text-decoration: underline;
  }
}
header {
  nav {
    &.navbar {margin-bottom: 0;}
    padding-top: 5px;
    p {
      margin: 0;
      color:#aaa;
    }
    a, a:visited {
      color:#aaa;
      &:hover {
        color:#aaa;
        text-decoration:underline;
      }
    }
  }
} 
ul {
  @media screen and (max-width: 500px) {
    padding: 0;
  }
}
.tag-list {
  li {
    list-style: none;
  }
  .post-category {
    float:none;
  }
}
.link-list .post-category {
  float: left;
  padding: 5px;
}
.post-metadata {
  color: darkgray;
  display: inline-block;
  padding: 1px 3px;
  a, a:hover, a:visited {
    color: darkgray;
  }
  a:hover {
    text-decoration: underline;
  }
}
.post-category {
  float: right;
  img {
    fill: darkgray;
  }
}
.excerpt {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-bottom: 20px;
  transition: 0.5s;
  &:hover {
    background-color: rgba(245,245,245, 0.7);
    border-radius: 5px;
  }
}
figcaption {
  font-variant: small-caps;
  font-weight: bold;
  margin: 10px 0 0 0;
  text-align: center;
}
figure {
  display: inline-block;
}
#disqus_thread {
  border-top: solid 1em #aaa;
  margin-top: 10px;
}
#sitename {
  font-size: 150%;
  font-weight: bold;
}
aside {
  border-left: 1px solid darkslateblue;
  color: darkslateblue;
  margin-bottom: 1em;
  margin-left: 2em;
  padding-left: 0.5em;
}
article {
  a {
    text-decoration: underline;
  }
  header {
    border-bottom: black solid 2px;
    > div {
      vertical-align: middle;
    }
  }
  #title {
    line-height: 75px;
    padding-top: 10px;
  }
  h1 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 5px;
    margin-bottom: 0;
    margin-top: 5px;
  }
}
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
}
.posts li {
  line-height: 1.75em;
}

footer {
  background-color: black;
  color: white;
  min-height: 2em;
  overflow: hidden;
  height: 30px;
  a, a:visited, a:hover {
    color:white;
  }
}
.post {
  margin-top: 5px;

  pre {
    background-color: #eef;
    border: 1px solid #ddd;
    padding: 0 .4em;
    code {
      border: none;
    }

    &.terminal {
      background-color: #333;
      border: 1px solid #000;
      color: #FFF;
      code {
        background-color: #333;
      }
    }
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    background-color: #eef;
    border: 1px solid #ddd;
    padding: 0 .2em;
  }
}
