<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% include openGraph.html %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords}}">
    <meta property="fb:pages" content="1029758320473951" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    
    {% if page.path contains '_posts' %}
      <link rel="amphtml" href="{{site.url}}/{{site.ampdir}}{{page.id}}">
    {% endif %}

    <style amp-custom>
      {% include syntax.css %}
      {% capture include_to_scssify %}
        {% include main.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-49969634-1', 'pauldambra.github.io');
    ga('send', 'pageview');
    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>

    <!-- End Google Analytics -->
    <meta name="msvalidate.01" content="54691C3C7B863CEE60F0305D6EDFF7A8" />
    <meta name="google-site-verification" content="hLKEdujpXNQ9PSZWEcQkwxCgL2z1tWxVedeaUmttH7c" />
  </head>
  <body>
    {% include header.html %}
    <div class="main">
      {{ content }}
    </div>
    {% include footer.html %}

    {% if page.path contains '_posts' %}
    <script>
      var tsl = document.getElementById('twitter-share-link')
      tsl.addEventListener('click', function() {
        ga('send', {
          hitType: 'social',
          socialNetwork: 'twitter',
          socialAction: 'tweet',
          socialTarget: "{{site.url}}{{page.url}}"
        });
      });

      var fsl = document.getElementById('facebook-share-link')
      fsl.addEventListener('click', function() {
        ga('send', {
          hitType: 'social',
          socialNetwork: 'facebook',
          socialAction: 'share',
          socialTarget: "{{site.url}}{{page.url}}"
        });
      });
    </script>
{% endif %}
  </body>
</html>