---
layout: default
comments: false
---

{% 
	include structuredData.html 
	headline=page.title
	genre=page.category
	keywords=page.keywords
	content=page.content
	link=page.permalink
	date=page.date
%}

<article>
{% include post_header.html %}
	<div class="post">
		{{ content }}
	</div>
</article>

	<div class="comments-wrapper">
		<button>Click here to load comments</button>
	</div>

	<script>
		var el = document.querySelector('.comments-wrapper');

		var loadDisqus = function() {
			el.innerHTML = '';
			var d = document.createElement('div');
			d.id = 'disqus_thread';
			el.appendChild(d);
			/* * * DON'T EDIT BELOW THIS LINE * * */
			
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//pauldambragithubio.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		};

		el.addEventListener('click', loadDisqus);

	</script>